
Computer_Architecture_Project.qws
simulation/modelsim/rtl_work/_vmake
simulation/modelsim/rtl_work/_lib1_0.qtl
simulation/modelsim/rtl_work/_lib1_0.qpg
simulation/modelsim/rtl_work/_lib1_0.qdb
simulation/modelsim/rtl_work/_lib.qdb
simulation/modelsim/rtl_work/_info
simulation/modelsim/msim_transcript
simulation/modelsim/Computer_Architecture_Project_run_msim_rtl_vhdl.do.bak10
simulation/modelsim/Computer_Architecture_Project_run_msim_rtl_vhdl.do
output_files/Computer_Architecture_Project.map.summary
output_files/Computer_Architecture_Project.map.rpt
output_files/Computer_Architecture_Project.flow.rpt
output_files/Computer_Architecture_Project.done
simulation/modelsim/rtl_work/_lib1_0.qtl
simulation/modelsim/rtl_work/_lib1_0.qpg
simulation/modelsim/rtl_work/_lib1_0.qdb
simulation/modelsim/rtl_work/_lib.qdb
simulation/modelsim/rtl_work/_info
simulation/modelsim/msim_transcript
simulation/modelsim/Computer_Architecture_Project_run_msim_rtl_vhdl.do
output_files/Computer_Architecture_Project.map.summary
output_files/Computer_Architecture_Project.map.rpt
output_files/Computer_Architecture_Project.flow.rpt
output_files/Computer_Architecture_Project.done
*.summary
db/Computer_Architecture_Project.tmw_info
db/Computer_Architecture_Project.rtlv_sg.cdb
db/Computer_Architecture_Project.rtlv.hdb
db/Computer_Architecture_Project.quiproj.3320.rdr.flock
db/Computer_Architecture_Project.pre_map.hdb
db/Computer_Architecture_Project.pre_map.cdb
db/Computer_Architecture_Project.map.rdb
db/Computer_Architecture_Project.map.qmsg
db/Computer_Architecture_Project.hif
db/Computer_Architecture_Project.hier_info
db/Computer_Architecture_Project.db_info
db/Computer_Architecture_Project.cmp.rdb
db/Computer_Architecture_Project.ae.hdb
db/Computer_Architecture_Project.(5).cnf.hdb
db/Computer_Architecture_Project.(5).cnf.cdb
Computer_Architecture_Project_nativelink_simulation.rpt
Computer_Architecture_Project.qws
Computer_Architecture_Project.qsf
